/*  HOME PAGE
--------------------------------------------------- */

/* IMPORT
--------------------------------------------------- */
@import "../../../public/stylesheet/_settings";

.sideNav {
  width: 224px;
}

.sideNav__paper {
  width: 224px;
  height: 100%;
  margin: 16px 0px 16px 0px;
}

