/*  HOME PAGE
--------------------------------------------------- */

/* IMPORT
--------------------------------------------------- */
@import "../../../public/stylesheet/_settings";

.sideNav {
  width: 224px;
}

.sideNav__paper {
  display: inline-block;
  height: 100%;
  margin: 16px 32px 16px 0;
}

